.App {
  text-align: center;
  
}

.App .logoDiv {
  height: 350px;
  line-height: 350px;
  font-size: xx-large;
  color: gold;
}

.logoDiv span {
  display: inline-block;
  vertical-align: bottom;
  line-height: normal;
  cursor: pointer;
  padding: 10px;
  border: 1px solid yellow;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.actionIcon{
  display: block;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 10px;
  width: 30px;
  text-align: left;
  cursor: pointer;
  color: blue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
